@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
@import "~@fortawesome/fontawesome-free";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

@import '~bulma/sass/base/minireset.sass';

html.light-theme {
    @import "~bulma/sass/utilities/initial-variables";
    @import "~bulma/sass/utilities/functions";
    @import "./light/variables";
    @import "~bulma";
    @import "~buefy/src/scss/buefy";
    @import "./global/overrides";
    // @import "./light/overrides";
    background-color: $body-background-color;
}

html.dark-theme {
    @import "~bulma/sass/utilities/initial-variables";
    @import "~bulma/sass/utilities/functions";
    @import "./dark/variables";
    @import "~bulma";
    @import "~buefy/src/scss/buefy";
    @import "./global/overrides";
    @import "./dark/overrides";
    background-color: $body-background-color;
}
