language: generic
sudo: required

services:
  - docker

before_script:
  - mkdir aiinput
  - cp .env.travis .env
  - cp src/.env.test src/.env

script:
  - sudo docker-compose up -d mysql
  - sudo docker-compose run composer install --ignore-platform-reqs
  - sudo docker-compose run artisan key:generate
  - sudo docker-compose run artisan storage:link
  - sudo docker-compose up -d mysql_testing
  - sudo sleep 15
  - sudo docker-compose run --rm phpunit
