version: '3.2'

networks:
  laravel:

services:
  site:
    image: nginx:stable
    container_name: lw_nginx
    restart: unless-stopped
    ports:
      - "${WEB_INTERFACE_PORT}:80"
    volumes:
      - ./src:/var/www/app
      - ${WATCH_FOLDER}:/var/www/app/storage/app/public/events
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - mysql
      - deepstack
      - watcher
      - queue
      - scheduler
    networks:
      - laravel

  mysql:
    image: mysql:5.7.29
    container_name: lw_mysql
    restart: unless-stopped
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./mysql:/var/lib/mysql
    networks:
      - laravel

  php:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: lw_php
    restart: unless-stopped
    ports:
      - "9000:9000"
    volumes:
      - ${WATCH_FOLDER}:/var/www/app/storage/app/public/events
      - ./src:/var/www/app
    networks:
      - laravel
    environment:
      DATA_RETENTION_DAYS: ${DATA_RETENTION_DAYS}

  scheduler:
    image: mcuadros/ofelia:latest
    container_name: lw_scheduler
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./scheduler/config.ini:/etc/ofelia/config.ini
    depends_on:
      - php

  queue:
    image: akmolina28/laravel-queue-worker
    container_name: lw_queue
    restart: unless-stopped
    tty: true
    environment:
      QUEUE_CONNECTION: database
      NUMPROCS: 8
    volumes:
      - ${WATCH_FOLDER}:/var/www/app/storage/app/public/events
      - ./src:/var/www/app
    networks:
      - laravel

  composer:
    image: composer:latest
    container_name: lw_composer
    volumes:
      - ./src:/var/www/app
    working_dir: /var/www/app
    depends_on:
      - php
    networks:
      - laravel
    entrypoint: ['composer']

  npm:
    image: node:13.7
    container_name: lw_npm
    volumes:
      - ./src:/var/www/app
    working_dir: /var/www/app
    entrypoint: ['npm']

  artisan:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: lw_artisan
    volumes:
      - ./src:/var/www/app
    depends_on:
      - mysql
    working_dir: /var/www/app
    networks:
      - laravel
    entrypoint: ['php', '/var/www/app/artisan']

  deepstack:
    image: deepquestai/deepstack
    container_name: lw_deepstack
    restart: unless-stopped
    environment:
      - VISION-DETECTION=True
    networks:
      - laravel
    ports:
      - "5001:5000"

  deepstack_testing:
    image: deepquestai/deepstack
    container_name: lw_deepstack_testing
    environment:
      - VISION-DETECTION=True
    ports:
      - "5002:5000"

  watcher:
    image: akmolina28/webhook-folder-watcher
    container_name: lw_watcher
    volumes:
      - ./src:/var/www/app
      - ${WATCH_FOLDER}:/var/www/app/storage/app/public/events
    restart: unless-stopped
    environment:
      - WATCH_FOLDER=/var/www/app/storage/app/public/events
      - WEBHOOK_URL=http://lw_nginx:80/webhook-receiving-url
      - WATCH_USE_POLLING=${WATCH_USE_POLLING}
    networks:
      - laravel

  mysql_testing:
    image: mysql:5.7.29
    container_name: lw_mysql_testing
    tty: true
    ports:
      - "33066:3306"
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql_testing

  phpunit:
    build:
      context: .
      dockerfile: php.dockerfile
    container_name: phpunit
    volumes:
      - ./src:/var/www/app
    depends_on:
      - mysql_testing
      - deepstack_testing
    working_dir: /var/www/app
    entrypoint: ['./vendor/phpunit/phpunit/phpunit']
