@import "~bulma/sass/utilities/mixins";

$fa-font-path: "../webfonts";

@media screen and (min-width: $desktop) {
    .navbar {
        padding: 1rem 0;
    }

    body.has-navbar-fixed-top {
        padding-top: 5.25rem;
    }
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width: 1344px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        padding: 3rem;
        margin-left: -3rem;
    }
}

@media(max-width: 767px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
    .responsive-table-wrapper {
        overflow-x: scroll;
    }
}
//
//body {
//    font-family: 'Nunito';
//}

a.navbar-item>.icon:not(:last-child) {
    margin-left: -.25em;
    margin-right: .25em;
}

a.dropdown-item.is-active .icon,
.dropdown .dropdown-menu .has-link a.is-active .icon,
button.dropdown-item.is-active .icon {
    color: #fff;
}

.lw-breadcrumb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.lw-breadcrumb .breadcrumb:not(:last-child) {
    margin-bottom: 0;
}

.lw-prev-next {
    align-items: flex-start;
    color: #b5b5b5;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: .5rem;
    text-align: center;
}

.lw-header #meta {
    margin-top: -.5rem;
}

.field.is-grouped>.control:not(:last-child) {
    margin-bottom: 0;
    margin-right: .75rem;
}

.field.is-grouped.is-grouped-multiline>.control:last-child,
.field.is-grouped.is-grouped-multiline>.control:not(:last-child) {
    margin-bottom: .75rem;
}
